*{padding:0;margin:0;}
body{background:url(../images/background.png) repeat-x;}
a{text-decoration:none;color:#333;font-size:12px;}
img{border:0;}
td{color:#333;font-size:12px;}
.clear{clear:both;height:10px;}

/*页脚css*/
.footer{width:960px;margin:0 auto;}
.footer .link{height:84px;border:1px solid #C2D5E3;}
.footer .link .title_link{height:30px;border-bottom:1px dashed #C2D5E3;width:940px;margin:0 auto;font-size:12px;color:#666; line-height:30px;}
.footer .link .ul_link{padding:0 10px;height:44px;padding-top:10px}
.footer .link ul li{list-style-type:none;float:left;width:312px;height:31px;overflow:hidden;}
.footer .link ul li a.link_img{list-style-type:none;width:88px;height:31px;float:left;}
.footer .link ul li  .link_1 a,.footer .link ul li  .link_2 a{font-size:12px;color:#666;float:left;width:214px;padding-left:10px;line-height:16px; }
.footer .link ul li  .link_1 a{font-weight:700;}
.footer_1{width:960px;margin:0 auto;border-top:1px solid #C2D5E3;}
.footer_1 .foot_left{float:left; padding:15px 0;}
.footer_1 .foot_left span{color:#333;font-weight:700;}
.footer_1 .foot_left em{font-size:20px;font-style:normal;float:left;}
.footer_1 .foot_left .copy{float:left;line-height:20px;padding-left:5px;font-size:12px;color:#666;font-weight:normal;}
.footer_1 .foot_right{float:right;padding:15px 0;padding-bottom:30px;}
.footer_1 p{font-size:12px;color:#666;}
.footer_1 .foot_right p {line-height:18px;}
.footer_1 .foot_right p a{font-size:12px;color:#666;}
.footer_1 .foot_right p span{padding:0 5px;font-size:12px;}