#main{
	width:1170px;
	margin:0 auto;
	border:1px solid #ccc;
	
	}
#main  td{
	font-size:12px;
	height:10px;
	line-height:15px;
	padding:0px 10px;
	}
#main #main_title td{
	line-height:30px;
	color:#000;
	font-weight:700;
	}
#main .line_xhx{
	border:1px dashed #ccc;
	width:1130px;
	margin:10px;
	}
#main #main_title{
	height:30px;
	}

#main #main_content{
	padding:20px 0px;
	
	}
#main  .tab_bt{
	width:550px;
	}
#main  .tab_zz{
	width:100px;
	}
#main  .tab_hf{
	width:100px;
	}
#main  .tab_zh{
	width:150px;
	}
.fatie{width:1170px;margin:0 auto;height:31px;line-height:31px;margin-top:10px;}
.fatie a{height:31px; padding:0px 5px;line-height:31px;border:1px solid #cdcdcd;font-weight:700;}
.fatie a.img{border:0;}
