// 底部
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    .container {
        display: table;
    }
    .footer-left {
        float: left;
    }
    .footer-right {
        float: right;
    }
}