// 板块
.plate {
    border-radius: 0.25rem;
    .plate-title {
        padding-left: 1rem;
        font-size: 1.125rem;
        font-weight: 500;
        border-left: 4px solid $blue;
        line-height: normal;
    }
    .plate-content {
        background-color: $white;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
        .plate-header {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .plate-body {
            padding: 1rem;
            .plate-item {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                .plate-body-title {
                    display: block;
                    margin-bottom: 0.5rem;
                }
                p {
                    font-size: 0.875rem;
                    margin-bottom: 0.25rem;
                    color: rgba(0, 0, 0, 0.54);
                }
                &:first-child {
                    border-left: 0;
                }
            }
        }
    }
}